.image {
  position:relative;
  display:inline-block;
}
.image:hover {
  overflow: scroll;
}
.image img, .image i {
  width: 100%;
  height: 100%;
}
img, i {
  transition: .3s ease-in-out all;
}
.text {
  position: absolute;
  top:5%;
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
  opacity:0;
  margin: auto;
  width: 100%;
  text-align: center;
  transition: .3s ease-in-out all;
}
.text p:first-child {
  font-weight: bold;
}
.image:hover img, .image:hover i {
  opacity:.3;
}
.image:hover .text{
  opacity:1;
}

.title {
  background-color: transparent;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}



